.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-wrapper .btn {
  margin-bottom:10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.myDiv:hover {
  cursor: pointer;
  background-color:#bdbdbd;
}

.img-align-left {
  float: left;
}

.box0 {
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.phase-column {
  text-decoration: none !important; /* Ensure it overrides any other styles */
  opacity: 1 !important; /* Ensure full opacity */
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.center-div {
  width: 50%;
  height: 50%;
}

.mt-5 {
  margin-top: 5 !important;
}



