/* Navbar.css */
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #222529;
  color: white;
}

.navbar-light {
  background-color: #f8f9fa !important;
  color: black !important;
}

.navbar-dark {
  background-color: #343a40 !important;
  color: white !important;
}


.status-by-div-container.dark {
  background-color: #222529;
  color: white;
}

.status-by-div-container.light {
  background-color: white;
  color: black;
}

.myDiv.dark {
  background-color: #343a40;
  color: white;
}

.myDiv.light {
  background-color: white;
  color: black;
}

.modal-content.dark {
  background-color: #222529;
  color: white;
}

.modal-content.light {
  background-color: white;
  color: black;
}

.comp-status-container.dark {
  background-color: #222529;
  color: white;
}

.comp-status-container.light {
  background-color: white;
  color: black;
}

.myDiv.dark:hover {
  background-color: #eef1f4;
}

.modal-content.dark {
  background-color: #343a40;
  color: white;
}

.modal-content.light {
  background-color: white;
  color: black;
}

.modal-header.dark {
  background-color: #343a40;
  color: white;
}

.modal-header.light {
  background-color: white;
  color: black;
}

.modal-body.dark {
  background-color: #343a40;
  color: white;
}

.modal-body.light {
  background-color: white;
  color: black;
}

.modal-footer.dark {
  background-color: #343a40;
  color: white;
}

.modal-footer.light {
  background-color: white;
  color: black;
}

/* .form-control.dark {
  background-color: #343a40;
  color: white;
} */

.form-control.light {
  background-color: white;
  color: black;
}

/* .form-control-dark {
  background-color: #343a40;
  color: #ffffff;
  border: 1px solid #6c757d;
} */

.form-control-dark {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #444;
}

.input-group-text-dark {
  background-color: #495057;
  color: #ffffff;
  border: 1px solid #6c757d;
}

/* DarkMode.css */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.container-dark {
  background-color: #222529;
  color: #ffffff;
}

.badge-dark {
  background-color: #924b4b;
  color: #fff;
}

.button-dark {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.chart-dark {
  background-color: #222;
  border: 1px solid #444;
}

/* DarkMode.css */

.list-group-item-dark {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #444;
}


.dropdown-dark {
  background-color: #333;
  color: #ffffff;
}

.text-dark-mode {
  color: #ffffff;
}

.alert-dark {
  background-color: #444;
  color: #ffffff;
  border: 1px solid #555;
}

/* DarkMode.css */
.navbar-dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.nav-dropdown-dark {
  background-color: #333;
  color: #ffffff;
}

.nav-item-dark {
  color: #ffffff;
}

.navbar-light-mode {
  background-color: #f8f9fa;
  color: #000000;
}

/* DarkMode.css */
.modal-dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.modal-header-dark, .modal-footer-dark {
  background-color: #2c2c2c;
  border-color: #444;
}

.input-group-dark {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #444;
}
