.navbar-nav {
    flex-grow: 1;
  }
  
  .navbar-nav .nav-item,
  .navbar-nav .nav-dropdown {
    flex: 1;
    text-align: center;
  }

  .containerStyle {
      display: "flex";
      justify-content: "center";
      align-items: "center";
  }

  @media (max-width: 767px) {
    .mb-2 {
      margin-bottom: 10px;
    }
  
    .dropdown-menu.show {
      max-height: 300px;
      overflow-y: auto;
    }
    
    .myDiv {
      margin-bottom: 10px;
    }
  }

  .custom-list-item {
    background-color: black !important;
    color: white !important;
  }

  .center-loading {

    position: absolute;
    top: 30%;
    left: 30%;
  }

  .sticky-nav {
    position: sticky;
    top: 0;
  }

  .logo-navbar-div {
    margin-left: 10px;
  }

  /* theme.css */

/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000; /* Default black text for light theme */
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #b0b0b0; /* Set font color to gray for dark theme */
}

/* Light Theme - Default placeholder color */
body.light input::placeholder,
body.light textarea::placeholder {
  color: #888888; /* Light gray placeholder color for light theme */
}

/* Dark Theme - White placeholder color */
body.dark input::placeholder,
body.dark textarea::placeholder {
  color: #cccccc; /* White placeholder color for dark theme */
}