.navbar-nav {
    flex-grow: 1;
  }
  
  .navbar-nav .nav-item,
  .navbar-nav .nav-dropdown {
    flex: 1;
    text-align: center;
  }

  .containerStyle {
      display: "flex";
      justify-content: "center";
      align-items: "center";
  }