.navbar-nav {
    flex-grow: 1;
  }
  
  .navbar-nav .nav-item,
  .navbar-nav .nav-dropdown {
    flex: 1;
    text-align: center;
  }

  .containerStyle {
      display: "flex";
      justify-content: "center";
      align-items: "center";
  }

  @media (max-width: 767px) {
    .mb-2 {
      margin-bottom: 10px;
    }
  
    .dropdown-menu.show {
      max-height: 300px;
      overflow-y: auto;
    }
    
    .myDiv {
      margin-bottom: 10px;
    }
  }

  .custom-list-item {
    background-color: black !important;
    color: white !important;
  }

  .center-loading {

    position: absolute;
    top: 30%;
    left: 30%;
  }

  .sticky-nav {
    position: sticky;
    top: 0;
  }

  .logo-navbar-div {
    margin-left: 10px;
  }

  /* theme.css */

/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000; /* Default black text for light theme */
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #b0b0b0; /* Set font color to gray for dark theme */
}

/* Light Theme - Default placeholder color */
body.light input::placeholder,
body.light textarea::placeholder {
  color: #888888; /* Light gray placeholder color for light theme */
}

/* Dark Theme - White placeholder color */
body.dark input::placeholder,
body.dark textarea::placeholder {
  color: #cccccc; /* White placeholder color for dark theme */
}

/* Light Theme - Default disabled input background */
body.light input:disabled,
body.light textarea:disabled {
  background-color: #f0f0f0; /* Light gray background for disabled inputs in light theme */
  color: #666666; /* Text color for readability */
}

/* Dark Theme - White background for disabled inputs */
body.dark input:disabled,
body.dark textarea:disabled {
  background-color: #121212; /* White background for disabled inputs in dark theme */
  color: #b0b0b0; /* Darker text color for readability */
}

/* Light Theme - Default select styles */
body.light select {
  background-color: #ffffff; /* White background for select in light theme */
  color: #000000; /* Black text color for light theme */
}

/* Dark Theme - Select input and options styles */
body.dark select {
  background-color: #333333; /* Darker background for select in dark theme */
  color: #ffffff; /* White text color for readability in dark theme */
  border: 1px solid #555555; /* Optional: Light border for better visibility */
}

/* Dark Theme - Style for select dropdown options */
body.dark select option {
  background-color: #333333; /* Darker background for select options in dark theme */
  color: #ffffff; /* White text color for readability */
}

/* Placeholder color for disabled option */
body.dark select option[disabled] {
  color: #aaaaaa; /* Light gray color for placeholder-like option in dark theme */
}
